[2018-05-26 15:45] cameronroe opened #1 "How do I get the audio blob?"

[2018-05-26 15:50] giridharangm commented on #1
@cameronroe You can access [`mediaBlob`](https://github.com/giridharangm/react-media-recorder#mediablob) in the `render` function.

It's a blob url, so you may use it like:

[code]

[2018-05-26 17:26] cameronroe commented on #1
I don't understand how to use it in render. It's rendering the jsx inline.

[2018-05-26 17:52] giridharangm commented on #1
Oh, I thought you wanted an `Audio` object. You can render an `<audio />`  in the `render` like this:

[code]

If you're still having problems, can you post your code here? I can't really guess what's happening to you without seeing the code.

[2018-05-26 18:07] cameronroe commented on #1
I basically had that... but I want to record the audio and then use it elsewhere in my code:

So I had:
[code]

[2018-05-26 19:55] giridharangm commented on #1
You can't use `setState()` in `render`. This will lead to infinite recursion.  You can wrap your entire recorder component with `ReactMediaRecorder` if that's what you want. That's the whole idea of `render` props.

I'm not quite sure about achieving this behavior with this design pattern.

[2018-05-26 21:09] giridharangm commented on #1
But I see your point. How about  a `whenStopped` prop to `ReactMediaRecorder`? Which will fire _once_ the recorder stops. The function will be invoked with the blobUrl. So, you can use it to setState() like  this:

[code]

Sounds good? I'll be patching this shortly.

[2018-05-26 21:28] giridharangm commented on #1
@cameronroe The patched version ( `0.7.0` ) is live in npm registry.
Do a
[code]
and try again with `whenStopped` hook. Let me know  / reopen this if you're still getting any issues.

Thanks!

[2018-12-03 16:57] AmeerHamzaRiaz commented on #1
Hi, I also can't figure out how to send this audio converted from blobUrl to s3.
Also, When I do
`let audio = new Audio(mediaBlob);
audio.play();  // this works
audio.duration //returns NaN
`

[2019-01-21 01:12] deevus opened #5 "H264 support"
I was hoping to use this for H264 recording support, however upon inspecting the code there's no way to pass any options when creating the `MediaRecorder`.

The supported constraints from `getUserMedia` reports that h264 is not a supported `mimeType`, however `MediaRecorder.isTypeSupported('video/webm;codecs=H264')` return true. I think the solution is to provide the video codec to the `MediaRecor

[2019-01-21 06:39] giridharangm commented on #5
Hey @deevus thanks for the input. Much appreciated!

However, are you sure about Chrome's support for `h264`? [This is the list of supported codes in Chrome](https://cs.chromium.org/chromium/src/third_party/blink/web_tests/fast/mediarecorder/MediaRecorder-isTypeSupported.html), and I didn't see `h264` in it.

The gist you gave didn't work either.

[2019-01-22 04:44] giridharangm commented on #5
I agree. But since we already have a `blobPropertyBag` option for setting the blob type (which will override whatever `mimeType` we gave to the `MediaRecorder` constructor). So the remaining options for the constructor are the audio / video bitrate. May be we could introduce new `prop`s to address these. What's your thought?

BTW, were you able to get h264 video from Chrome? I'm on Chromium nightl

[2019-01-22 05:39] deevus commented on #5
Yeah I'm using Chrome and it worked for me (Fedora 29).

It seems to me that the same sort of approach as `blobPropertyBag` would be fine. A prop such as `mediaRecorderOptions` would handle all cases if passed directly to the constructor.

[2019-01-22 06:02] giridharangm commented on #5
+1 for `mediaRecorderOptions`.

Can you share your working code? I want to know what I'm missing. All my video outputs are in vp8

[2019-01-23 09:10] deevus commented on #5
https://codesandbox.io/s/n5y31723oj

Make sure to open the sandbox in its own window to get camera permissions.

[2019-01-23 09:11] deevus commented on #5
I can make a PR if you want

[2019-01-23 10:02] giridharangm commented on #5
Wow!.. Much appreciated! Thanks!

[Be careful here](https://github.com/giridharangm/react-media-recorder/blob/10a967d96463892e3d5b51623e41d66c841d3761/src/index.js#L164) as we create `mediaBlob` using this `blobPropertyBag` which is passed down to the child.

Sorry, been a bit busy with my full-time since last week. I also have a plan to refactor this.

[2019-11-22 04:48] 0x006F commented on #5
Added ability to pass `mediaRecorderOptions` via c09f8327f863ba79699c8f7ba2eaa522942b55c6

[2019-11-22 04:48] #5 closed

[2019-11-22 05:08] deevus commented on #5
I meant to come back to this but got busy :) Thanks

[2019-11-22 05:11] 0x006F commented on #5
Yeah me too!. Sorry for the delay though. Thanks for the support! 👍

[2020-01-22 22:42] christopherABM opened #8 "Can you add the function the get the Blob object?"
Hi dude, I was using trying to implement your library but in my app i need the Blob object, can you do something like

}}
                    />

[2020-01-29 05:48] 0x006F commented on #8
Hey man, sorry for the delay. Had to do some other works :D

Well, it's easy to emit the blob object, but may I know what's the use case here? Just being curious.

[2020-01-29 07:34] christopherABM commented on #8
Hi dude, I was recording videos and trying to upload the file to server, to do that I was making a fetch  to get the blob object and converted to  a file using this :

[code]

But for some reason only chrome was falling, when I was making the fetch I got this error  ERROR_INVALID_HANDLE, I also tried with XMLHttpRequest and nothing
So I thought It would be a good option to have the blob Object jus

[2020-01-31 02:38] 0x006F commented on #8
So..., I guess, the issue is resolved then? 😬

[2020-02-07 21:19] siddhant-reactgeeks opened #9 "how can i get the stream as a blob after i have stopped sharing my screen."

[2020-02-11 11:06] 0x006F commented on #9
Hey @siddhant-reactgeeks as its design, it won't give you the actual `blob` object, just the `url`. Not that it's difficult, but why the need for `blob`?

[2020-04-01 11:45] gvnramu opened #10 "How to start automatic screen recording"
Hi @0x006F  Thanks for the repo,

I want to start screen recording implicitly after component loaded

What I  tried is `<button className="start" onClick={startRecording}>Start Recording</button>` after that in `componentDIdMount() {$('.start').click();}`. screen is recording but the problem is Screen share permission dialog is coming two times. I don't know what to do. Please help me

[2020-04-01 12:39] 0x006F commented on #10
Hey @gvnramu,

First of all, don't mix `react` with `jQuery`. It'll have unexpected consequences, since, both of them works on two different concepts.

From the snippet you provided, what can I see is that, you assigned the `onClick` handler to a button and tries to call it from `componentDidMount`. This isn't necessary nor recommended approach. If you want to record as soon as your component is l

[2020-04-03 05:51] gvnramu commented on #10
Thanks, Problem solved

[2020-04-03 05:51] #10 closed

[2020-04-03 07:45] gvnramu commented on #9
Hi @0x006F I had the same problem and I need to upload the recorded file to the server. Please help me out

[2020-04-05 18:50] siddhant-reactgeeks commented on #9
hello @0x006F  and @gvnramu you guys just need to do this:
`  const blob = await fetch(mediaBlobUrl).then((r) => r.blob());`

this will give you the blob for the video which you can upload easily

[2020-04-05 18:53] siddhant-reactgeeks commented on #9
hello there just wanted to upload that video that's why

[2020-04-05 18:53] #9 closed

[2020-04-05 18:55] siddhant-reactgeeks opened #11 "just want to clear the existing mediaBlobUrl how can i do that, is there any existing function for that?"

[2020-04-06 11:04] 0x006F commented on #11
No, not at the moment. It gets replaced by the next recording and so on.

[2020-04-06 14:40] siddhant-reactgeeks commented on #11
hello @0x006F  thanks for replying, so i have a send button on the UI on which i want to clear the video any idea how can we  do that?

[2020-04-13 19:22] 0x006F commented on #11
Hey @siddhant-reactgeeks sorry for the delayed reply. You could unmount this component on a button click though. Although, it doesn't sound like a straightforward fix. The ideal way would be provide a function from this recorder that nullify the streams / blobs on demand. Let me check.

[2020-04-16 04:11] jaydanurwin commented on #11
This would be great! I'm trying to find an easy way to remove the mediaBlobUrl as well and a built-in function would help make my code **much** cleaner

[2020-04-28 13:30] siddhant-reactgeeks commented on #11
thanks @0x006F i am using this unmount fix for now, but it would be great if you could implement a callback for this.

[2020-05-11 21:27] siddhant-reactgeeks commented on #11
https://e2ede998.ngrok.io/project/bBA2doHTR3nP39VJqmaH

[2020-05-14 13:53] siddhant-reactgeeks commented on #11
https://5b32ce09.ngrok.io/project/vgIuJepfGjTm6HsjUsxl?recalc=true?view=true

[2020-05-14 13:58] siddhant-reactgeeks commented on #11
https://5b32ce09.ngrok.io/project/5Vm4yWRNCmWrTvjtj8rj

[2020-05-15 15:18] wmik opened #12 "Bug reports + Questions"
Followed a bug from a screen recording app and ended up here.
Think I've narrowed down the issue and possible fixes.

The main one is: ***Mic not disconnected after screen recording***.
- After a screen recording session stops for some reason the recording indicator is still active in the tab. This has happened on chrome so not sure about other browser.
https://github.com/0x006F/react-media-record

[2020-06-06 06:44] raj-reactgeeks opened #13 "How can we get chunk blob, is there any props around this ?"
I want to get blob in a chunk, I have checked existing props I just found previewStream to get the current stream but I need a blob so that I can send it to server and store in real-time.

ondataavailable  method is available to get blob in a chunk, So can you please add chunk blob props support as well.

  mediaRecorder.ondataavailable = function (e: any) {
            console.log("blob =  ", e.d

[2020-06-07 20:00] mbaochaEHA opened #14 "on the sample code, why doesnt the video show when recording"
The video doesnt get displayed during recording. Why is that so? can anything be done about that?

[2020-06-19 13:11] dfabreguette-ap opened #16 "Track not stopping"
Since 1.2.0 upgrade, it looks like stream tracks are not stopping, and the chrome red light is left on even after component unmount.
Does anyone have the same issue ?

I tried to stop the stream tracks through a "VideoPreview" function component with no success !

[code]

Seems like there's a missing opened stream left unstopped somewhere...
Would that be a bug on our side ?

[2020-06-26 16:31] harshzalavadiya commented on #8
Hi @0x006F,

fetch solution works but having blob passed as second arguement on `onStop` might be nice thing as you already have a blob available 🙂

#### proposed change

https://github.com/0x006F/react-media-recorder/blob/master/src/index.ts#L188

[code]

[2020-06-26 20:39] christopherABM commented on #8
Hi @harshzalavadiya what I did was this:
[code]
I hope that helps you

[2020-06-27 05:46] wmik commented on #16
Probably not a bug on your end.
Possible explanation #12

[2020-06-27 05:48] wmik commented on #13
Duplicate of #8

[2020-06-29 17:27] 0x006F commented on #14
Hey @mbaochaEHA, apologies for the delayed response. There's a typo in the `previewStream` example. It's not `videoPreviewStream`, it should be just `previewStream`.

[2020-06-29 18:07] 0x006F commented on #12
@wmik Thanks for taking this much time to carefully isolate these small issues.

I swear I had this stop call for every tracks (back when I was experimenting). But I don't recall why it didn't make it to the repo. Let me double check this one more time. Is it working for you in your fork?

Fantastic catch! (and thanks for the solution though)

Kinda. We could expose the `getMediaStream` to the use

[2020-06-29 18:45] #8 closed

[2020-06-29 18:45] #13 closed

[2020-06-29 18:45] #14 closed

[2020-06-29 18:57] 0x006F commented on #16
Hey @dfabreguette-ap a small patch have been landed via #17 . Can you please update it to the latest and check?

Let me know.

[2020-06-29 19:16] #11 closed

[2020-06-29 19:20] 0x006F commented on #13
@raj-reactgeeks landed in `v1.2.1`

[2020-06-29 19:20] 0x006F commented on #8
Thanks @christopherABM / @harshzalavadiya this has been asked by multiple times, and I'm sorry for the delay. This is landed in `V1.2.1`

[2020-06-29 19:21] 0x006F commented on #11
Hey all, I'm sorry for the delayed response, but this has been fixed in latest release `V1.3.0`.

Let me know

[2020-06-30 06:58] dfabreguette-ap commented on #16
Great ! I'll have a look into it and get back ! Thanks !

[2020-07-02 10:01] dfabreguette-ap commented on #16
Works great ! I close the issue, thanks for quick response !

[2020-07-02 10:01] #16 closed

[2020-07-04 02:35] #12 closed

[2020-07-08 02:30] andreybs11 commented on #16
It is not fixed ❗

Use case: if the user "closes" the recorder **before starting to record**, then there is no way to stop **audio tracks** because `mediaRecorder.current = null` and `previewVideo` only contains video tracks (https://github.com/0x006F/react-media-recorder/blob/master/src/index.ts#L240).

Maybe consider providing a `stopAudio` render prop OR adding getters for `mediaRecorder` and `

[2020-07-15 23:22] urosran opened #19 "Safari is not supported"
Hey there,

Not an issue per se but safari is not supported, have you thought of using the polyfill to mend this?

I am happy to help in any shape or form

[2020-07-16 08:04] syeo66 commented on #19
Might be harder than it seems. I was looking for a polyfill but it seems there is none (for video). Probably for a good reason.

[2020-07-17 03:01] urosran commented on #19
Yeah, I forked your project to try to get at least the audio working but it's pretty hard. For some reason, it's not picking up onStopEvent. I'll put a PR so you can take a peak

[2020-07-17 22:40] MichaelJC91 opened #21 "How can I record the screen and my camera at the same time?"
I want to record my screen and webcam at the same time and have my webcam stream be constraint to a 200x200 square in the bottom left corner.

How could I achieve this?

[2020-08-11 07:58] Jlomaka commented on #19
MediaRecorder API not supported on safari https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder

[2020-08-19 10:50] 0x006F commented on #19
Yeah, the MediaRecorder isn't available on Safari. Correct me if I'm wrong, the polyfill you're using in #20 doesn't support video recording, right @urosran
Like @syeo66 said, it might be for a good reason, that we aren't seeing any fully-fledged polyfill yet.

[2020-08-19 10:52] urosran commented on #19
Yeah, it's audio only, dk if it would be possible to inject here to get at least full audio support

[2020-08-19 10:57] 0x006F commented on #19
Okay, let me check. I haven't looked at your PR yet. Let's see what's going on there.

[2020-08-21 12:21] LauraPiccolo opened #22 "Record audio from audio tag"
Hi,
Can I record from an audio tag instead of recording from the user's microphone?
Thanks

[2020-08-31 20:38] plauche opened #23 "Specify video input device"
Hi,

Is it currently possible to specify the input device id? It did not look like it to me but I wanted to confirm.

[2020-09-03 20:36] brentcappello commented on #21
Yes, this is achievable.

You can use the `previewStream` as mentioned in the docs here: https://github.com/0x006F/react-media-recorder#previewstream

Here is an additional example:
[code]

Hope that helps.

[2020-09-05 17:42] theMasix opened #25 "screen share permission call twice."
Hello. I wanna use the screen capture alongside audio. So it's my code:
[code]
but the screen share permission call twice. one after render <ReactMediaRecorder> and one after calling the startRecording.
It is a BUG i think...

[2020-09-07 05:14] anshad opened #26 "Ask browser permission only on start recording"
Right now it is asking permission on page load and it disappoints the users when we implement this snippet on a large web app.

So can we add a condition to ask permission only on start recording?
@0x006F

[2020-09-07 20:55] arezooalipanah opened #27 "send blob to server"
hi
Thanks for creating this package
Where do I access the blob itself?
How can I send the blob as file to the server?

[2020-09-08 15:35] 0x006F commented on #26
That was by design, since we're dealing with cams and mic. Just wanted to let the user know about we've a component that's going to access their media devices (just like video conf services).

Asking permissions on-demand won't hurt much, but we need to test it thoroughly so that we won't annoy the end-user also. An edge case (as I recall) would be to record the screen. Upon selecting which window

[2020-09-08 16:01] 0x006F commented on #25
The `getDisplayMedia()` behaves a bit differently than `getUserMedia()`. The granted permission won't persist. [You can read more here about it (from MDN) here, under the Usage Notes](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getDisplayMedia). So, each time you want to record the screen, the browser will _explicitly_ ask for the permission.

[2020-09-08 16:02] 0x006F commented on #25
On a second read, you mentioned it was asking for permissions on 'render'. On my end, it didn't ask. (I used the same example you provided).

[2020-09-08 17:20] theMasix commented on #25
It was an URGENT situation so I rewrite the whole package on my own. I think I should capture my screen to show you how it behaves. As i said, the screen capture permission calls twice and It's a bug.
I will send the video for you.
for now, my chrome version is: ```85.0.4183.83```

[2020-09-16 10:36] HBM08 opened #28 "Audio recording preview not working"
Hi,

I'm trying to create a preview for both audio and video recordings. The video preview works fine but the audio preview doesn't enable the autoplay property, so you've no feedback for the audio recording. I assume that this might be because the MediaStream object is not active (it has the property active: false) even though the recording seems to be active as when I stop the recording the blob

[2020-09-16 12:15] HBM08 commented on #21
Video preview works indeed, but did somebody tried audio recording preview ?
It looks like the autoplay doesn't work so you don't get any feedback as you record ...

[2020-10-02 19:04] Deravadom opened #29 "Camera Still Active After Leaving Page"
I'm working on a basic implementation that I'll be expanding on later. But I'm running into an issue where the following sequence of events occurs on Firefox (other browsers not tested).
1. Navigate to page ✔️
2. Component requests media and renders ✔️
3. Navigate to another page within site ✔️
4. Camera and microphone are still active ❌

[2020-11-05 09:56] startupgurukul commented on #19
One possible option is encode via web assembly

https://github.com/GoogleChromeLabs/webm-wasm

[2020-11-06 07:17] startupgurukul commented on #19
While continuing using mediarecorder polyfill for audio, and using above approach for video encoding, you may be one the few which who can record seamlessly on safari

 This deserves a Show HN as it can be useful for greater community..

[2020-11-22 06:16] #21 closed

[2020-11-25 17:05] satyajitghana opened #31 "audio file format"
Hi,

I am trying to record audio in the browser

[code]

and fetching the file from it

[code]

Now i saved this file in disk, and used `file audio.wav`

and it shows up as as WebM file

[code]

what i need is a wav file ! and it is giving me a WebM file

[2020-11-27 09:21] gdrbyKo1 commented on #31
Hi. As far as I can tell, the MediaRecorder API currently doesn't support the `audio/wav` MIME type. This is unrelated to `react-media-recorder`, please see https://github.com/w3c/mediacapture-record/issues/198 and the related Firefox and Chromium issues for details.

[2020-11-27 16:45] satyajitghana commented on #31
oh okay, thanks, so probably the `mimeType` has to be changed in your library ? it's kind of misleading.

also i was wondering, can the bytes in the recorded file be changed to `audio/wav`, i.e. can we convert `audio/webm` to `audio/wav` on the client side ?

[2020-11-27 16:47] satyajitghana commented on #27
[code]

[2020-11-29 05:58] 0x006F commented on #31
`blobPropertyBag` is used only for generating the blobs (_after the recording has been completed_) inside the media recorder. If you want to use a specific codec to use, you need to pass through `mediaRecorderOptions`. It'll check for the browser support first and will emit a `console.error` if there's no support. I'd say not to use the `blobPropertyBag` if it's not a big-deal. It's just a placeho

[2020-11-29 07:16] satyajitghana commented on #31
yes thanks, ffmpeg worked ! added it on the server side though, and just realised I could have done it on client side instead.

anyways I was able to convert webm to wav

[2020-12-08 12:29] liadbelad commented on #31
Hey I got the same issue and need to convert to wav file in client side so I can send a wav file to a server.
How can I implement using ffmpeg in the client side please?

[2020-12-09 13:48] liadbelad commented on #27
Hey I tried to implement this part as follows but I can't get the blob what am I doing wrong please ?
I am trying to call the getBlob function but I can't find a place where to call it properly

import React from "react";
import { ReactMediaRecorder } from "react-media-recorder";

export default function UserRecord() {
  const getBlob = async (mediaBlobUrl) => {
    const audioBlob = await fetch(m

[2020-12-10 18:48] 0x006F commented on #31
`ffmpeg`'s usage is pretty straight forward. [Download it from here](https://ffmpeg.org/) and use it like this:

[code]

[2020-12-11 04:15] satyajitghana commented on #31
@liadbelad see https://www.npmjs.com/package/ffmpeg

[2020-12-11 04:15] satyajitghana commented on #31
@liadbelad not sure if this would work, https://www.npmjs.com/package/ffmpeg

[2020-12-11 07:34] gdrbyKo1 commented on #31
@liadbelad for client-side, there's https://github.com/Kagami/ffmpeg.js/ and https://github.com/ffmpegwasm/ffmpeg.wasm
But are you sure you really want to do that? Sending uncompressed audio data over a network will require significantly more bandwidth. It might be a better choice to do the decoding on the receiving side.

[2020-12-13 11:41] startupgurukul commented on #31
Ffmpeg is an overkill..try this https://github.com/ai/audio-recorder-polyfill it has wav encoder and mp3 encoder works in iOS world as well

[2020-12-13 17:59] guest271314 commented on #31
See https://github.com/guest271314/audioInputToWav/blob/master/index.html

[2020-12-14 02:29] guest271314 commented on #31
Note, Chrome does support `x-matroska;codecs=pcm` where the PCM can be extracted, see https://github.com/WebAudio/web-audio-api-v2/issues/63.

Using Web Audio API a `MediaStream` can be set at `MediaStreamAudioSourceNode` or at `HTMLMediaElement` then connected to an `AudioWorklet` where the `Float32Array`s from `inputs` can be set at an `Array`, `ArrayBuffer`, `SharedArrayBuffer`, or other means

[2020-12-25 15:23] arieller commented on #26
This is an issue for development as well, because on re render the permissions are getting asked over and over without actually helping the utility. Is there any way to remove the permission asking on mount ?

[2021-01-01 06:59] seonghyeonkimm opened #32 "Audio file can't be played in safari"
### Descriptions
- Made the audio file in chrome browser using this library
- Uploaded the file to firebase and played it in the browser. chrome play it well. But it is not played well on safari

I don't have any clue about this problem. Is there anyone who can help me to solve this problem?

[2021-01-11 11:48] neilnahid commented on #26
I second this.

[2021-01-11 14:28] arieller commented on #26
Personally, I removed the initial permission ask on mount from the source code.

[2021-02-08 16:12] manzurola commented on #27
@liadbelad I had it done by hooking onto the onStop event, where the complete blob is supplied.
Supply the function pointer when creating the react hook, and in your onStop method you should have the URL and BLOB.

[2021-02-08 16:14] manzurola opened #33 "Expose current used sample rate"
Thank you for this my friends

I need the used sample rate as a param to my server, but can't seem to get it (as the supplied sample rate doesn't override anything and I prefer not to rely on it anyway).

Can this be done?

[2021-02-09 11:11] nicgirault commented on #26
I was expecting to be able to set `audio: false` and switch it to true when I need the permission to be granted but having `audio: false` generates a `no_contraints` error. I would suggest to handle `audio: false` input to fix this issue

[2021-02-09 14:06] lucasReghiniM opened #34 "How to render audios separately?"
I'm using Lib with hook, everything works normally, but how do I get the audio and leave it separate?
I want the audio to be rendered only when the stop button is pressed, for it to stay on the screen and I can click again and record another audio. All recorded audios must remain on the screen. (like a whatsapp conversation)

Currently the site already starts with an empty audio and every time a n

[2021-02-10 11:52] #34 closed

[2021-02-11 11:50] dolly-kumar opened #35 "Video gets flipped in preview"
Hi,

1. While recording I need it to be like a mirror.
2. After recording, it must play exactly what I recorded and not flip just like we have normally in our smartphones while making videos.

[2021-02-11 13:45] lucasReghiniM opened #36 "First blob comes as text / html. Expected audio/webm"
I'm recording and generating the blobUrl, to store I'm turning it into a file, but halfway through I realized that the blob is coming as text / html.

This is my handle code:

[code]

The first thing that the "REC BLOB URL" return is this:

![image](https://user-images.githubusercontent.com/47827740/107643912-812a8700-6c55-11eb-8ccf-e0f2a73b302b.png)

And render this:

![image](https://user-images

[2021-02-11 14:18] lucasReghiniM commented on #36
Some one knows that error?
@0x006F @danigb @seawolf42

[2021-02-14 03:58] 0x006F commented on #35
You could try flipping the `<video/>` element with CSS

[code]

[2021-02-14 04:32] 0x006F commented on #36
Interesting. Let me take a look.

[2021-02-17 19:08] lucasReghiniM commented on #36
I found a solution, just use a useEffect

[2021-03-10 20:00] chuckthepiranha commented on #27
Adding onto what @manzurola said, you can just do the following and that way you don't have to do fetch:
[code]

[2021-03-13 12:01] alihbk commented on #29
i have the same issue Camera and microphone are still active ❌

[2021-03-22 09:43] rommelmamedov opened #39 "How to start screen recording on demand not immediately (automatically) after page load?"

[2021-03-24 18:41] uvtech3012 opened #40 "Preview stream is not working"
hi,
previewstream is not working show useRef instead of ref in video tag and when change still preview is not visible

[2021-04-15 08:45] NaitoKenzo opened #42 "Incomplete blob on Firefox"
We're using the `useReactMediaRecorder` hook in our app. We've encountered no issue on Chrome but on Firefox the blobs returned by the hook only contain the first few seconds of the recordings. No errors are thrown.

Here(https://codesandbox.io/s/media-recorder-firefox-forked-imi2i?file=/src/App.tsx)'s a Codesandbox that reproduces the behaviour.

Let me know if you need more information!

[2021-04-16 21:36] nobleach commented on #8
I'm confused on how one would use the `onStop` prop when using the hooks that are provided. That seems to be a good solution only if using the `<ReactMediaRecorder />` component.

[2021-04-18 18:07] 0x006F commented on #42
Which version are you on? I'm on `88.0b9 (64-bit)` and was able record (~22 secs) and play without any errors.

Or should I increase the recording time more?

[2021-04-18 18:07] #35 closed

[2021-04-18 18:09] 0x006F commented on #22
Sorry for the delay, unfortunately this isn't supported. This library aims to leverage `getUserMedia` only.

[2021-04-18 18:09] #22 closed

[2021-04-19 07:42] NaitoKenzo commented on #42
I'm on `87.0 (64-bit)` which I believe is the latest version, at the time of writing.

See: https://www.mozilla.org/en-US/firefox/releases/

[2021-04-19 08:44] NaitoKenzo commented on #42
I've just stumbled upon [this issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1696794) on bugzilla. I'm guessing we'll have to wait for FF88 to roll out.

[2021-04-21 15:45] robertjwozniak commented on #32
@seonghyeonkimm It seems to be an issue with the .ogg audio format. Did your audio get saved in Ogg format? If yes, then Safari does not support that.

[2021-05-04 20:18] PedroHenrike20 opened #47 "Is not recording the audio of the video that I am playing on my screen"
Hi,
I am developing a service to make video calls and record the user screen with this component. I am trying to record the user screen on a page with an Agora.io call, that is a service that runs on top of RTC Stream to allow video calls between clients.
I've succeeded to record my screen with my microphone audio and webcam video, and the video coming from the stream as part of my screen. But the

[2021-05-05 17:32] 0x006F commented on #47
AFAIK, the `getUserMedia` doesn't give the _speakers_ (since it's an output device) info. You'll need to do some loopback (from the speakers to the input device) in the OS level to get this working.

[2021-05-05 18:01] PedroHenrike20 commented on #47
Do you have a path for me to follow?

[2021-05-13 09:40] GeneralDev1 opened #48 "Can you please provide further information about each values of status props in the render function?"
Hi
I'm developing a video recording function in our website, btw, I'm facing some issues in the status props of render function, so I need detailed information about those values.
Anyone can provide further information about these values of status please? :)

media_aborted
media_in_use
invalid_media_constraints
no_constraints
recorder_error
acquiring_media
stopping

Looking forward to hearing from

[2021-05-17 11:06] MathiasLund opened #49 "no_specified_media_found issue"
Hi there,

A user of mine reports that he gets the issue: `no_specified_media_found` in Chrome.

However, it works in Firefox.

What can be the reason for this issue, and how to resolve it?

react-media-recorder version `0.7.1`.

[2021-05-18 09:59] sagodi97 commented on #26
Yes,  @anshad,  if recording audio/video is a tiny part of a large web app, the user is more likely to decline access on load, because he/she won't know right away what is it for.

However, if this is by design you can get around it by checking permissions on mount. Something like:

[code]

[2021-05-25 03:26] 0x006F commented on #48
Looks like these are mix of  `errors` and `status`. Might've mixed things up. These are emited from the `getUserMedia` and all.

| value                     | cause                                                                                                                                                                                                                       |
|------------------

[2021-05-25 03:30] 0x006F commented on #49
If it's not much of an hassle, can you try with the latest version? The version you mentioned is now obsolete.

[2021-05-25 08:23] Busin731 commented on #48
Thank you! @0x006F

[2021-06-07 11:24] Chehan-nethsara opened #51 "0"

[2021-06-07 11:24] #51 closed

[2021-06-07 11:34] Chehan-nethsara opened #52 "How do I deactivate camera when I leave page?"
When I move to the record page and allow the permission then without recording if I go to the different page still camera get active. So How do I deactivate camera when I go to the another page?

[2021-06-08 16:37] davidbsoares opened #53 "No_constraints error on mobile"
When i click to start recording i get this error on mobiles. But in my PC everything is working. Anyone knows what could it be?

[2021-06-08 20:09] #53 closed

[2021-06-16 11:55] Chehan-nethsara commented on #52
@0x006F FYI

[2021-06-16 11:58] 0x006F commented on #52
Hey, sorry, got busy a bit. Does the component gets unmounted while navigating?

I'm on the road, just thinking out loud. I will check this once I get to the desk..

[2021-06-17 09:25] mateomotriz commented on #52
I'm having this issue using the media recorder as a hook;

when I navigate to other pages the webcam is still active, sometimes stops after 30s-1min and sometimes not; it only stops if the user refreshes the page

[2021-06-19 21:41] gezquinndesign commented on #28
Created a PR - #54 to preview audio, the previewStream currently only gets the video tracks, so added a previewAudioStream that does the same thing as previewStream but just for audio.

[2021-06-20 13:24] 0x006F commented on #28
@HBM08 that is by design. [It's mentioned in the docs too](https://github.com/0x006F/react-media-recorder#previewstream)

I just wanted to avoid an unexpected feedback from the internal mic. It would create such a mess 😁

@gezquinndesign thanks for the PR, it does just what it says. Awesome! but having two APIs for the stream is will lead to confusion I guess `previewStream` and `previewAudioStrea

[2021-06-20 14:00] gezquinndesign commented on #28
If we only want one way to access the stream in its entirety, then we will have to remove the limitation that is brought about by only returning only the VideoTracks, perhaps we can make it a function with defaults?

[code]

and return the appropriate altered MediaStream based on the options provided.

Or just return the MediaStream without altering it and warn users to ensure that the audio needs

[2021-06-20 14:57] gezquinndesign commented on #28
@0x006F I can alter the PR depending on what you think is best.

[2021-06-23 15:02] kazzkiq commented on #52
It seems that `useReactMediaRecorder()` hook promptly requests for audio/video recording, whilst it should only call for it upon `startRecording()` calls.

This means whenever you have this hook in your component, even before recording anything, the browser/OS will show mic/camera activity.

[2021-07-04 07:22] rockyhuber commented on #52
I hacked it for now, not a great solution, but works.
`const video = document.querySelector('video');
        // A video's MediaStream object is available through its srcObject attribute
        const mediaStream = video.srcObject;
        // Through the MediaStream, you can get the MediaStreamTracks with getTracks():
        const tracks = mediaStream.getTracks();
        tracks.forEach(track =>

[2021-07-04 07:23] rockyhuber commented on #29
Quick and silly hack
`const video = document.querySelector('video');
        // A video's MediaStream object is available through its srcObject attribute
        const mediaStream = video.srcObject;
        // Through the MediaStream, you can get the MediaStreamTracks with getTracks():
        const tracks = mediaStream.getTracks();
        tracks.forEach(track => track.stop());`

[2021-07-16 01:07] harterc3 opened #56 "How can I get previewStream back after clearing blob url?"
I'm building an app where someone can record a video. The first part is just the preview stream which works great when the initially load the page. They tap the record button and it starts recording while still showing the preview. Once they're done recording they hit the stop button and then we no longer show the preview stream and instead give them the video they recorded. If they decide they do

[2021-07-17 16:53] 0x006F commented on #25
This should be fixed in #57 . New version `1.5.0`

[2021-07-17 16:53] #25 closed

[2021-07-17 16:53] 0x006F commented on #26
This should be fixed in #57 . New version `1.5.0`

[2021-07-17 16:53] #26 closed

[2021-07-17 16:53] 0x006F commented on #39
This should be fixed in #57 . New version `1.5.0`

[2021-07-17 16:53] #39 closed

[2021-07-17 16:54] 0x006F commented on #52
@Chehan-nethsara can you pull the latest version `1.5.0` and check whether the problem persists?

[2021-07-22 11:04] sumitverma3012 opened #59 "Toggle mic state during recording"
I want to toggle mic state on/off while recording. I tried it by changing the audio value in useReactMediaRecorder but it considers only the initial value.

How could I achieve this?

[2021-08-11 09:22] royherma opened #60 "Change video source"
Is there already a way to change/select the video source when capturing? i.e - if i have two cameras, select which one to record with?

Also - is there a way to preview the stream/video before actually recording anything?

Thanks!

[2021-08-14 12:35] MrChe commented on #40
Same problem

[2021-08-16 12:25] neilnahid commented on #52
@0x006F currently using `1.5.0` and the problem still persists.

[2021-08-16 22:15] hussainwali74 opened #61 "not working on server"
I am using
`"react-media-recorder": "^1.4.0",`

the package was working fine on local environment when i tried to deploy it, the status is not changing and onStop is not getting invoked.

Is there something I am missing?

this is my code:

[code]

[2021-08-29 05:47] 0x006F commented on #59
Use `muteAudio` and `unMuteAudio`https://github.com/0x006F/react-media-recorder#muteaudio

[2021-08-29 05:47] #59 closed

[2021-09-20 19:10] preveenraj opened #62 "Add recording duration"

[2021-09-25 00:09] briangershon opened #63 "Unable to use with Snowpack due to multiple versions of React"
If your site is using React 17 and you're using Snowpack, if you try to add `react-media-recorder`, you'll see hook errors due to multiple versions of React. Snowpack will try to include both React 16 and 17.

Solutions may be to ensure React 16 is not considered a dependency for this package.

[2021-09-25 00:11] briangershon opened #64 "clearBlobUrl() method should also call URL.revokeObjectURL()"
From https://developer.mozilla.org/en-US/docs/Web/API/URL/revokeObjectURL they mention call `revokeObjectURL` method when you've finished using an object URL to let the browser know not to keep the reference to the file any longer.

[2021-09-29 11:39] laurynas-wn commented on #52
Any update on the issue? @0x006F

[2021-09-29 12:01] #64 closed

[2021-09-29 21:46] briangershon commented on #64
Thank you @0x006F for adding this! I was in the middle of a hackday event, so didn't have a change to submit a PR myself.

Also, I ended up adding one more line to `clearBlobUrl()` to reset the workflow back to `idle` as well: [Line 207](https://github.com/BryceHaley/team7-blackfoot-chat-app/blob/main/frontend/src/lib/ReactMediaRecorder.js#L207)

(I had to fork your code into a new file due to #63

[2021-09-30 03:43] 0x006F commented on #64
@briangershon thanks! I appreciate your help. 😊

[2021-09-30 03:44] 0x006F commented on #52
hmm... this wasn't happening for me when  I tested. Let me try this one more time

[2021-09-30 05:12] briangershon commented on #64
No worries, I'll work on that PR!

Thanks again, this component was the only way we were able to get our recording feature up and running in a short amount of time.

[2021-10-02 16:55] briangershon commented on #63
This problem was related to Snowpack configuration. Closing issue.

If anyone else runs across this, here is the configuration fix: https://github.com/snowpackjs/snowpack/issues/3033#issuecomment-905481198

[2021-10-02 16:55] #63 closed

[2021-10-05 06:58] 0x006F commented on #62
You could control the duration (by calling _start_ and _stop_ ) from the parent container itself, right?

[2021-10-05 08:13] preveenraj commented on #62
I wanted to get the overall the duration in seconds of the recorded video. Currently, I am using a package called get-blob-duration to achieve this. However, this has performance impacts. Any workaround on this?

[2021-10-05 08:39] 0x006F commented on #64
Glad that this helped!

[2021-10-05 08:46] 0x006F commented on #62
I don't think you'd need a secondary package to get the duration. We have full control over `startRecording` and `stopRecording` from the parent's context itself. Keeping a timer between this would immediately solve your performance hit.

That being said, this could be handled from the library itself also. This emitting of blob's meta properties wasn't included in the design plan to be honest 😄 .

[2021-10-05 08:55] preveenraj commented on #62
That workaround is doable. Thanks for bringing it up.
By the way, implementing blob's meta properties would be great. I believe people could make best value out of it.
And thanks a lot for the package. You rock it.

[2021-10-08 14:02] 0x006F commented on #52
@laurynas-wn can you check this [Codesandbox[(https://codesandbox.io/s/charming-gould-27zuh?file=/src/App.js)?

[2021-10-17 06:10] uvtech3012 commented on #19
hi any update on safari as media recorder is not working on IOS devides?

[2021-10-18 17:49] realadamsmith commented on #11
Testing this now

[2021-11-09 23:56] JanMisker commented on #62
You can also get the duration if you assign the mediaBlobUrl to an <audio> or <video> element, I used [react-use/useAudio](https://github.com/streamich/react-use/blob/master/docs/useAudio.md) for this

[2021-11-10 04:56] preveenraj opened #70 "Generate video thumbnail from recorded video"
Hey,
Is it feasible to bring in a feature to generate video thumbnail from a recorded video and get it as a jpg/png file so that it can be stored along with the media metadata for better user experience?

[2021-11-13 13:07] 0x006F commented on #70
generating thumbnails for a video snip is very much out of scope from this component's context. This would increase the complexity of this. Just want to keep things as simple as possible.

[2021-11-13 14:20] preveenraj commented on #70
Yeah, understood. If it were you, how would you generate a thumbnail from a video snip. I saw many solutions in the web. Curious. @0x006F

[2021-11-16 13:19] sessgreem opened #71 "Unhandled DOMException after first successful screen recording"
Hi, thanks for this amazing library. Here is the issue I have and this is how to produce it:
1. Record my screen (with screen: true prop)
2. Finish it is successfully
3. On second attempt to record I deny permission (for screen capture) and I get this error:

![2021-11-16 15_12_04-Window](https://user-images.githubusercontent.com/39434603/141991837-4dfa62bf-1254-43ee-b5a9-ff0edf3d10a1.png)

edit:

[2021-11-17 15:05] taniaprocha commented on #23
It should be using the video prop with the MediaTrackConstrains. But when add it my stream stops.

[2021-11-17 15:48] taniaprocha opened #72 "Recording stops just after starts"
When I add `MediaTrackConstraints` to `video` prop the recording stops just after starting.
This is not happening in `v1.5.0`, just in the versions above.

Check 👉   [flamboyant-mclean-lxfcr](https://codesandbox.io/s/hardcore-leaf-ecqqr)

Thanks.

[2021-11-18 09:58] tsejerome commented on #32
On every file upload, transcode it to . For my case, I am using https://aws.amazon.com/elastictranscoder/ to transform every file upload from client side into a mp3 so that all browsers can play.

Took our team like a whole week for this

[2021-11-18 21:55] PaoConcepcion opened #73 "Chrome saves file like video/x-matroska"
Hi!
I'm recording videos on chrome and firefox but the mimeType is always diferent in each browser, on chrome is saved like video/x-matroska while in firefox is a video/webm.
If I download the video, it is saved like .webm but is a .mkv
My code

`const confVideo = {
    width: 1080,
    height: 720,
    frameRate: 20,
};

const mediaRecorderOptions = {
    mimeType: "video/webm",
};

const blobPro

[2021-11-20 03:47] 0x006F commented on #72
Thanks a lot for the codesandbox it errors out for me too. Weirdly enough, when tried with local dev env (same browser) it didn't fail.

Let me figure this out

[2021-11-22 15:03] gavr123456789 commented on #72
Same but without video. And same wortks in dev mode, and doesnt on production

[2021-11-23 18:12] dlievano opened #74 "Problems with videos recorder in Chrome"
Hi,

I have several problems with the screen recorder component all the functions are working well but When I record the video on Chrome and save it on the **firebase store** and try to reproduce the video in another browser it is not reproduced, I tried it with firefox and have this issue. I see that the file is saved as web but the mime-type is video/x-matroska I tried to change it with the prop

[2021-11-29 20:28] shelcia opened #76 "How to get Blob instead of blob url ?"

[2021-11-30 03:44] seonghyeonkimm commented on #32
@robertjwozniak @tsejerome Thanks for your help. I will try to transcode it.

[2021-11-30 03:44] #32 closed

[2021-11-30 09:12] namitamehta opened #77 "Maximum 10min video recording validation"
Hi
I'm developing a video recording functionality in our website, I have to add validations, maximum video recording should be 10min after that it should automatically stop recording. So can anybody help me in achieving this.

Looking forward to hearing from you soon!

Thanks!

[2021-11-30 09:27] namitamehta opened #78 "Add counter "3 2 1" when status is "acquiring_media""
Hi,

I have to a video recording funtionality in website where before starting recording i want to add counter, means where after clicking on "Start Recording" there should be a display "3 2 1" and then recording should start. Means when the status is "acquiring_media" at that time counter should come.
But the problem is.. how will i identify for how much time status will be "acquiring_media".
Can

[2021-11-30 15:38] #71 closed

[2021-12-07 12:14] tylerzey commented on #77
https://github.com/bradgarropy/use-countdown

You could just use a hook like this and then call the stopRecording method from `react-media-recorder` upon the 10 min being completed.

If you expose pause/resume, make sure to pause & resume your timer.

[2021-12-08 13:02] diegoasanch commented on #76
You can `fetch` the blob using the bloblUrl and the fetch API, something like:
[code]

[2021-12-11 10:07] #77 closed

[2021-12-11 10:08] namitamehta commented on #77
Thanks @tylerzey it was helpful

[2021-12-11 10:10] namitamehta commented on #77
Closing the issue, as i have used currentTime property of video tag to validate recording time.
Thanks!

[2021-12-22 15:17] YuriiRysyn opened #80 "How get an audio blob an OnStop like video"
Hello, How can i get the audio blob like video blob in onStop func. I can get a audioStream, but i need an audio as the same form like video, to send it to API. Thanks)
![Screenshot_1](https://user-images.githubusercontent.com/67281495/147114545-28f4bfe7-10d9-4f0d-9bc8-41deccc3c4a1.png)
![Screenshot_2](https://user-images.githubusercontent.com/67281495/147114547-1e41ce60-f8cf-45f9-8e07-94f4f1d80bc

[2021-12-28 19:38] amjadbouhouch commented on #80
Hello @YuriiRysyn
I think you have already figured out a solution.
And if not, you should read the **blobUrl** with the **FileReader**
Like this:
`const reader = new FileReader();`
 `reader.readAsDataURL(blobUrl);`
 `reader.onloadend =async () => {
 const theRealBlob = reader.result; ...rest of your code
 }`

[2022-01-02 16:10] puspendra09 opened #81 "PC recorded video not play in iphone browser"
when I record video in chrome browser using pc and stored in s3 bucket, that video play with pc browser but in iphone browser occur an error. Have an any solution to resolve this issue to play video with independ platforms.

[2022-01-06 02:47] eli-s-r commented on #32
Is there any way to do this client-side without using a large package such as https://github.com/Kagami/ffmpeg.js? We need to support immediate playback of recordings in the browser, _before_ the contents are sent to the server.

[2022-01-06 13:56] github-alethea commented on #81
If you could share more details regarding your issue then would be helpful.
But anyway, this is a common issue on iPhone devices, to make it work, the recorded video has to be encoded to H.264 for the iPhone devices and use the default one for other platforms.
You could code your own solution on your own backend service to encode it or you could use AWS [mediaconvert](https://aws.amazon.com/mediac

[2022-01-06 13:58] github-id01 commented on #81
If you could share more details regarding your issue then that would be helpful.
But anyway, this is a common issue on iPhone devices, to make it work, the recorded video has to be encoded to H.264 for the iPhone devices and use the default one for other platforms.
You could code your own solution on your own backend service to encode it or you could use AWS mediaconvert service to do so as you ar

[2022-01-06 21:45] eli-s-r commented on #81
@github-id01 Do you know of any way to do this client-side without using a large package such as https://github.com/Kagami/ffmpeg.js? We need to support immediate playback of (audio) recordings in the browser, _before_ the contents are sent to the server.

[2022-01-06 22:26] eli-s-r commented on #72
I'm having the exact same issue (also, like @gavr123456789, with audio only), though for me it happens only on Safari or on iOS.

[2022-01-08 23:35] VincentLu91 opened #82 "How to send real time audio streams to web socket?"
Hi,

From my understanding, the useReactMediaRecorder allows the Reactjs app to record microphone + screen audio together:
[code]

I've experienced this myself when I was playing a YouTube video while speaking on my computer microphone as the web app is recording.

I want to be able to send this overall real time audio stream (blob) to the web socket during recording.

Here's how I tried:
[code]

[2022-01-10 10:00] github-id01 commented on #81
Nope, I won't recommend such a thing to do on the client-side, a back-end service would be better suited for such a task,

[2022-01-17 08:39] Amir-Pourhadi commented on #47
I have this problem :(
Did you find any solution for it?

[2022-01-17 12:27] PedroHenrike20 commented on #47
Hello, I was able to solve this issue by opening a new browser window with the recording component on it, then he was able to record the audios that make up the call and also the browser window.

Example:

[code]

[2022-01-17 12:27] #47 closed

[2022-01-19 15:41] SahilMahadwar opened #83 "MediaConstraints object not working"
Hey can anyone please tell me how to pass the MediaConstraints object properly I tried many things but nothing seems to be working

here is my code

[code]

it will be a lot of help for me thank you

[2022-01-29 04:47] Wivil opened #84 "Can't play mediaBlobUrl with Chrome/Safari of iOS 15.0"
### Trying to take a video with a camera of iOS
I am trying to take a video with a camera of iOS 15.0. When I tried it on PC, it works, which means I can take a video and play it on a browser. However, I cannot play it with any browser of iOS. I inserted onLoadedMetadata function in video tag in order to see what is happening while loading data, but any result won't come. I think I failed to load

[2022-01-29 05:26] Wivil commented on #84
https://stackoverflow.com/questions/70082715/cant-play-html5-video-with-blob-source-on-ios-devices

I found this can be bug of iOS 15.x

[2022-02-07 12:40] jonasgroendahl commented on #36
@lucasReghiniM how? i have this issue too

[2022-02-08 03:54] jacktao007 opened #85 "With hook mode, you cannot get previewStream without calling startRecording.How to solve it?"
With hook(useReactMediaRecorder) mode, you cannot get previewStream without calling startRecording.How to solve it?

[2022-02-08 16:38] Paddyd101 opened #86 "react-media-recorder not recording on 'rear facing ('environment') camera'"
Hi, I am having an issue recording with react-media-recorder using the rear facing camera.
This is how I have initialised useMediaRecorder and props:

[code]

My question is:
is it possible to record the rear-facing camera using react-media-recorder? and If not can is anyone aware of any other ways for this?

Thanks

[2022-02-12 07:27] levu304 opened #87 "Preview Stream is not show"
Hi, i found a bug on PR [634f0a08493610e8112619f1651b81909b800fca](https://github.com/0x006F/react-media-recorder/commit/634f0a08493610e8112619f1651b81909b800fca)

When you set MediaConstraints on video, preview stream is disappear immediately after showing.
If set true, it works well.
I tried remove this PR on local, it works well but cannot stop MediaConstraintTrack
This is not happen on version

[2022-02-14 12:40] avastamin opened #88 "stopRecording doesn't clear the recording icon in the tab"
I used stopRecording to stop MediaRecorder stream. The red "recording" icon appears in the Chrome tab on start, but doesn't go away on stop.

The icon looks like this:
https://i.stack.imgur.com/a0kZn.png

[2022-02-15 05:24] bedmuthaapoorv commented on #60
Hi I have been able to preview stream before recording and pushed the working code on my github [link](https://github.com/bedmuthaapoorv/Simple-Video-recorder-In-React)

[2022-02-15 05:24] bedmuthaapoorv commented on #60
Let me know if you find anything regarding video source

[2022-02-16 04:22] kmpartner opened #90 "Delay of sound in recorded video and preview, (only on my computer?)"
I have tried to record videos and it worked.
Thank you,
But when I saw the recorded video, the audio doesn't match the video and see some delay.
Is this problem only on my computer?
Are there any ways to adjust audio delay?

[2022-03-01 15:40] samuelkarani commented on #85
is this fixed?

[2022-03-03 07:12] vinikatyal commented on #31
Does this still not work?

[2022-03-03 13:10] guest271314 commented on #31
This is what I used the last time I needed to convert floats to WAV https://github.com/guest271314/webcodecs/blob/main/WavAudioEncoder.js, usage

[code]

[2022-03-08 14:41] Gorasumen opened #91 "Duration is Infinity"
Hello,

I'm using this great project for creating resources. And I met a little problem, when i try to get the duration of the resource with ref.current.getDuration(), I get "Infinity", only when the video is not played.

So I can fix the problem if I put autoPlay on the component, but that's not the behavior I want.
I saw this [issue](https://github.com/0x006F/react-media-recorder/issues/62), tha

[2022-03-08 19:16] samuelkarani commented on #85
Figured out a fix: Just start recording as the preview and dispose that initial stream when you actually start recording a second time

[2022-03-15 08:38] shelcia commented on #76
thanks

[2022-03-15 08:38] #76 closed

[2022-04-01 23:13] andre7000 commented on #40
@uvtech3012 @MrChe hello! Did either of you figure how to get preview working?

This codesandbox has preview working yet I can't get it working in a NextJS app from my IDE.
https://codesandbox.io/s/hk6k1

[2022-04-14 10:27] no-1ne commented on #32
https://github.com/ai/audio-recorder-polyfill
https://github.com/zhuker/lamejs
 do it on the browser side,
although LGPL as per my understanding, isnt as straightforward as mentioned in the LICENSE below https://github.com/zhuker/lamejs/blob/master/LICENSE

[2022-04-15 10:42] no-1ne commented on #91
If the video is webm this can help https://github.com/yusitnikov/fix-webm-duration, since you are using mp4 may be something similar may exist

[2022-04-15 14:30] dasler-fw commented on #1
Thats how you can **get blob from mediaBlobUrl** or **change mediaBlobUrl to blob** (for searchers):

[code]

[2022-04-15 17:16] Muaddib787 opened #94 "Video Resolution?"
Is there a way to specify the resolution the recorded video will be generated with (eg. 1080p)?

[2022-04-22 23:50] mayurc137 commented on #73
Same issue with audio too! It is saving the mimeType as audio/x-matroska, even after defining the blobPropertyBag as "audio/mpeg"

[2022-04-23 01:30] mayurc137 opened #95 "Audio recorded in mimeType audio/x-matroska despite specifying blobPropertyBag as audio/mpeg"
Here is an example of the file generated using the media recorder-> https://botspace-inbox.s3.ap-south-1.amazonaws.com/assets/5f64256823133d00d13d7b19_1650675975443.mp3

On checking the metadata from -> https://exifmeta.com/ the results are as follows -> https://cln.sh/j6bBwz

The file mimeType is set to **audio/x-matroska**, I want the file mimeType to be audio/mpeg.

`const {
        status,

[2022-05-04 06:01] AB2954 commented on #62
The screen recording is downloaded as a .wav audio file.
If recording a screen the content should be a video.
Maybe Line 229 condition can be as (audio ? { type: "audio/wav" } : { type: "video/mp4" })

[2022-05-06 06:09] agusabreuc commented on #27
I'm having problems to hook the onStop event, can somebody help me plesas?

[2022-05-08 23:05] PipesNBottles opened #96 "React Media Recorder auto stops when medioRecorderOptions provided"
when using the `useReactMediaRecorderOptions` hook and providing `mediaRecorderOptions` the recorder will stop recording immediately.

for example:

[code]

the recorder will automatically issue a stop event without any error. This occurs with both supported and unsupported mime types.

as in the debug console
[code]

[2022-05-09 11:04] bmgamil commented on #23
I was able to work around this issue by using the tag approach (<ReactMediaRecorder/> not custom hook) and changing the tag key random randomly when changing source like this:

    const [key, setKey] = useState(Math.random());

    const changeVideo = (videoId: string) => {
        setCurrentVideo((oldValue) => videoId);
        setKey(Math.random());
    };

return <ReactMediaRecorder

[2022-05-14 19:05] #96 closed

[2022-05-15 04:19] dvdokkum opened #98 "Compatibility with Next.js in 1.6.6"
I'm getting this error when putting a basic demo together:

```Error: There is already an encoder stored which handles exactly the same mime types.```

A quick search showed that it may be related to Extendable-Media-Recorder(?), which looks like it was just added by @PipesNBottles. I rolled my version back down to `1.6.5` and the error went away.

If there's any additional detail I can provide to

[2022-05-15 17:21] AWworks commented on #56
hi @harterc3, landed here searching for solution to same problem. were you able to resolve this?

[2022-05-19 17:42] PipesNBottles commented on #98
how are you rendering the component? In my test cases I was rendering only one component per page and I can quickly add extra logic to make sure only one encoder is ever stored

[2022-05-19 17:52] dvdokkum commented on #98
Here's a gist: https://gist.github.com/dvdokkum/d1078da347458f9998ab7baa9d713f73

`record.js` is the component and `record-test.js` is the parent page.

AFAIK I'm only loading it once. Not sure if relevant, but this is a next.js app.

[2022-05-21 23:08] PipesNBottles commented on #98
So I looked into it and I can suppress the message though I'd rather not do that. Currently looking into the extendable recorder it appears like a nice feature to have to free up memory in the browser, a feature the native API doesn't support. I also tested with rendering two recorders at the same time for 3 min and I didn't find any noticeable difference in the files being recorded in their binar

[2022-05-22 13:55] dvdokkum commented on #98
Sorry I'm not sure I understand. How do you suggest handling the runtime error? When I put the return block in a try/catch I just get a reference error on `Blob`. Is something in my code rendering the component twice? I tried to stick as close to the demo code in the readme as possible, which works in `1.6.5` but throws errors in `1.6.6`. Appreciate your help on this!

[2022-05-22 15:20] dvdokkum commented on #98
I've been trying to debug this further and need to give it a rest for a bit, but I'm going leave what I've got so far in case anyone else is having these issues. In short, I think the Extendable-Media-Recorder dep is breaking off the shelf compatibility with Next js.

1. I was able to fix the parent issue with multiple encoders being called. This is happening because `create-next-app` defaults `re

[2022-05-22 20:14] dvnrsn commented on #98
Forgive my ignorance. Is there no way to avoid running on server? Seems like next should have a means to skip server side running. This can't be the first time someone has needed to use a browser api that is not available in node?

[2022-05-24 14:04] dvdokkum commented on #98
Yeah, I mean before the extendable-media-recorder dep was added it worked fine, and the base library uses the mediaRecorder browser API, so perhaps it is just something in the implementation which is causing the issue.

[2022-05-24 19:00] tony opened #99 "`CHANGELOG.md`"
Thank you for the project!

Is it possible to keep a changelog working backward and sync future releases it with git tags?

[2022-05-28 06:08] realamirhe commented on #99
Sure, I have the same problem as mentioned in the #98 .
I need to downgrade to version `1.6.5` but doesn't know what I missed from the latest release

[2022-06-02 04:51] evanBurg commented on #85
You could programmatically call startRecording since you are using the hook right?
Something to the effect of:

[code]

[2022-06-02 08:58] AsemKakhi opened #100 "Using audio/wav is throwing an error"
You already using the `extendable-media-recorder` library as a dependency, which adds the support of using `"audio/wav"` for audio recording.
but this line of code is throwing an error when I set the `{ mimeType: "audio/wav"}`
[code]
because `"audio/wav"` is not natively a supported format by the browser

Please consider fixing this
I would suggest something like:
[code]

[2022-06-02 18:02] andrewroar opened #101 "Blob show type as audio/wav but still show up as webm after converted to Base64"
After recording and recieve the blob as audio/wav, I use new FileReader().readAsDataURL(blob) to convert to base64. I then tried to convert it back to audio with the following website (https://base64.guru/converter/decode/audio) but it indicates it as webm.

I am trying to pass the base64 to another api which only support wav. The base64 I got from converting the blob currently does not work despi

[2022-06-03 05:34] DebjitPramanick opened #102 "How to mute video"
I was only able to mute audio. But not able to mute video while recording.

[2022-06-10 05:25] dvdokkum commented on #98
Hate to bug, but any ideas on how to get this working @PipesNBottles @0x006F? I'd love to be able to use the new wav functionality, and I feel like I'm almost there but I just get this pesky reference error on `Blob` when trying to do a production build coming from extendable-media-recorder. I'm not super well versed in frontend dependency land, and I'm assuming there's something simple that I can

[2022-06-11 18:06] Szuszi commented on #98
@dvdokkum I came across the same issue as you did by having the `Error: There is already an encoder stored which handles exactly the same mime types`. I managed to use this version, by copy-ing the whole code and by applying a try-catch functionality to the initialization useEffect of the component (`await register(await connect());`). If you only had this error, you can catch it so it doesn't cra

[2022-06-12 14:10] rdauj commented on #85
You can try waiting for the `status` prop to be `"recording"`, before doing stuff with the `previewStream`.

Subscribe to those changes by using `useEffect` with `status` in the dependency array:

[code]

[2022-06-14 22:03] maxIrvine commented on #98
Hi, everyone! I am also encountering the same issue... if you come up with a workaround I would love to hear it!

[2022-06-15 05:19] StianHaugland1 commented on #100
We get the same error

[2022-06-15 05:19] StianHaugland1 commented on #100
We get the same error

[2022-06-22 17:51] dvdokkum commented on #98
I've got all of this sorted out now, so if you are just finding this thread and trying to get things working in Next try the following:

[2022-06-22 17:51] #98 closed

[2022-06-28 00:04] lazuardi21 commented on #102
what do you mean by mute the video?

[2022-06-28 06:16] imikay opened #103 "ReferenceError: Blob is not defined"
Have this problem when use with react version 18.2 on every browser: Firefox, Chrome, Safari.

[2022-06-29 06:25] itsjuanmatus commented on #88
Setting `stopStreamsOnStop: true` should work fine

[2022-06-29 13:51] rmrantunes commented on #103
Same

[2022-06-29 14:21] rmrantunes commented on #103
Try this: Next Dynamic with no SSR https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr

[2022-06-29 14:25] Cress1004 opened #104 "Error was throw when use 'clearBlobUrl' function"
I want to use 'clearBlobUrl' function to clears the existing generated blob url and resets the workflow to its initial idle state. But when I call this function, the message "TypeError: clearBlobUrl is not a function" was throw.
Below is my code using 'clearBlobUrl' function:

1. Button reset recording:
` <button onClick={() => resetRecord(clearBlobUrl)}>Retry</button>`

2. resetRecord function:
`

[2022-07-01 13:19] mathewcst commented on #88
Even using `stopStreamsOnStop: true` isn't working for me. My settings:

[code]

[2022-07-02 14:57] itsjuanmatus commented on #88
This is my code and it works fine:

[2022-07-02 15:05] itsjuanmatus commented on #88
@mathewcst I did not use the `onStop` function, and instead used a `useEffect` and the `mediaBlobUrl` to update the blob.

[code]

[2022-07-12 19:24] mathewcst commented on #88
Fixed. Removing `askPermissionOnMount: true` gets rid of the icon.

[2022-07-18 17:32] gwhizoftv opened #105 "Console error Uncaught (in promise) Error: There is already an encoder stored which handles exactly the same mime types. at Worker.<anonymous> (module.ts:49:1)"
Hi, Thank you for making this package! It gives  this error when using the basic wrapper code:
[code]

My environment is:

- Macos Monterey,
- Chrome 103,
- the project was created using npx create-react-app,
- the package was installed with npm
- dependencies from Package.json:
[code]

As you can see in the above code, I'm not setting any of the options available, especially the mimetype.

[2022-07-25 01:57] HumbleDev-1119 commented on #105
I'm also facing same issue.
![record_issue](https://user-images.githubusercontent.com/32957829/180678521-8ae64474-f39a-4660-adb8-b324886e311f.png)

[2022-07-26 06:25] jaeyoungheo8697 commented on #105
<img width="482" alt="image" src="https://user-images.githubusercontent.com/74174743/180937968-1e4e9cea-8119-4cdf-80b7-a2ef6433c71c.png">
same issue.

[2022-07-26 07:15] hxc-gxc commented on #91
Up ?

[2022-07-26 09:03] merttyilmaz commented on #105
I'm also having this issue. The issue happens when I'm navigating between different pages in my application. I'm using hooks.

[2022-07-29 00:48] tap2k opened #106 "Doesnt work on Android?"
Im able to record fine on chrome on mac os x, but under Android I cant start recording

[2022-07-29 13:10] tap2k commented on #106
Never mind, I figured it out

[2022-07-29 13:10] #106 closed

[2022-07-31 23:59] charlesjavelona commented on #103
Have the same problem.

[2022-08-01 00:00] charlesjavelona commented on #103
Could you be more specific of where this should be used? At the component creation or at the page import?

For example:
[code]

[2022-08-01 09:39] pavlonsp commented on #105
Hi, me too have this issue. The issue happens when I'm navigating between different pages in my application. I'm using hooks.

[2022-08-01 15:43] charlesjavelona commented on #105
Same here:

Component page:
[code]

[code]

[2022-08-02 17:09] freeday commented on #105
i have this error when i use react-router and use history.push inside onRedirectCommand

[2022-08-07 13:29] Riezmann opened #107 "ReferenceError: Worker is not defined"
Hi, I have recently tried to use this package in react 18, but I got an error called "Worker is not defined".

Here is the package.json:
`
[...]
  "dependencies": {
    "next": "12.2.3",
    "react": "18.2.0",
    "react-dom": "18.2.0",
    "react-icons": "^4.4.0",
    "react-media-recorder": "^1.6.6"
  },
  "devDependencies": {
    "@types/node": "18.6.3",
    "@types/react": "18.0.15",
    "@typ

[2022-08-08 07:33] JackCompass commented on #105
Hello everyone, I was facing the same issue. The most straightforward way to solve this is to remove the strict mode from your project.

[2022-08-08 22:17] VahidNZ commented on #82
I'm having the same problem. Actually, I have a pure Javascript code that takes stream audio and encodes it to a base64 string before sending it to a webSocket, however I can't accomplish this with React js; any suggestions?

[2022-08-10 10:09] ayushidianapps commented on #35
@dolly-kumar was your issue resolved as this has been marked as done?
I am still facing the same issue, the recorder video is flipped

[2022-08-20 20:31] lewi6 commented on #103
Met the same issue. Is there something new ??

[2022-08-22 21:04] jessejamesrich commented on #105
I have the same issue when using react-router. Removing strict does not work for those in CRA. At the moment, I imagine something is going on with a re-rendering.

[2022-08-23 10:25] olegpanchenko commented on #31
[code]

[2022-08-25 10:36] Arif-Islam opened #108 "How to find useful url of the recorded video to store the video in database"
I sent the recorded video in mongodb database using the mediaBlobUrl. But mediaBlobUrl of the video isn't useful to store in database as the video can't be retireved from the database. Recorded video url is generated like this - **blob:http://localhost:3000/001a9d09-da0a-40a6-8118-501d7a894**
As a result, the video can't be retreived from the database. Can anyone help how can I store the recorded

[2022-08-26 21:45] oberdan-dev commented on #36
Hello, use onStop callback as below:

[code]

[2022-08-28 17:53] Guuri11 commented on #82
@VahidNZ I could convert it to base64 & send it to ws. I'll share my code asap. I'm don't have my laptop now

[2022-08-28 18:01] Guuri11 commented on #82
@VahidNZ here is the code

[code]

[2022-09-02 18:25] GabGuerra commented on #108
You can store the audio`s base64.

Here`s how you can generate it.

[code]

With the base64 you can create an audio tag so you can display and listen to an audio on your front-end.

[2022-09-09 14:29] LeoReubelt opened #110 "can't pass pre-commit checks"
I am using react media recorder as follows...

[code]

 And it works. But my pre-commit checks result in the following.

[code]
Can anyone tell me how to fix this?

[2022-09-09 15:47] LeoReubelt commented on #103
Dynamic import fixes it. I tried it.

[2022-09-09 16:06] #110 closed

[2022-09-17 11:32] Guuri11 commented on #36
Could you solve this issue? I'm trying to fix it. Above answer did not work for me

[2022-09-19 05:28] simeondev15 commented on #36
Please could you share the full solution?

[2022-09-21 11:16] Guuri11 commented on #36
Finally I could fix it! onStop callback worked for me.  My guess for the blob coming as text/html is because doing the fetch when the blob is not created yet, check the value of blobUrl before the fetch.

[2022-09-28 17:19] drummerjolev commented on #105
Having the same issue as I'm re-using the hook multiple times on the same page. I don't want to drop strict mode and it doesn't solve the issue anyway for CRA, as @jessejamesrich pointed out.

I tried switching `blobPropertyBag` to `{type: 'audio/mp3'}` (from the default `{type: 'audio/wav'}`), though that had the same error. @0x006F would you be open to make the logic running in the `useEffect` o

[2022-09-28 17:35] jessejamesrich commented on #105
I found this issue returned just recently as well. So I will be back to look at it here.

[2022-10-11 20:32] tochukwu19 commented on #105
I too am experiencing this issue

[2022-10-12 09:41] somitBond opened #112 "Blob is not defined"
error - ReferenceError: Blob is not defined

[2022-10-12 14:41] ogapradana commented on #90
i think theres some delay when triggering record video, then i try to implement something on recording status changed and its working fine,

heres the code

[code]

[2022-10-13 09:21] kalib-code commented on #112
Similar problem on Next.js
follow this
[code]

[2022-10-13 09:24] kalib-code commented on #105
Same issue though mine I'm calling it inside a modal.

[2022-10-18 18:58] mannyakosah commented on #95
Any update on this? Trying to set audio codec to AAC but neither mediaRecorderOptions nor options works.
[code]
It would be great to change the default audio codec from OPUS to other protocols.

[2022-10-19 15:19] aviramroi opened #113 "MP4 file missing all meta info"
Im downloading file from the blobUrl
and I missing some meta info
<img width="546" alt="Screen Shot 2022-10-19 at 16 00 34" src="https://user-images.githubusercontent.com/46828050/196732646-0c8c4e4e-10b8-4932-9c05-b6c047ca8692.png">
on the left the file downloaded using the media recorder, in the right some mp4 file.

usage:
`
  const handleStop = (blobUrl: any, blob: any) => {
    var a = window.

[2022-10-25 22:41] RamiAlzayat commented on #113
+1
I can confirm this issue, somehow the mp4 file cannot be played on iPhone nor mac QuickTime,
Only VLC is able to play it.

[2022-10-26 00:05] rsweetland commented on #98
To clarify using the readme example, it would look something like this...

[code]

[code]

[2022-10-27 12:00] jgthms commented on #88
The icon disappears on Google Chrome, but it doesn't disappear on iOS Safari.

It seems to fully remove the icon on Safari, you need to call:

[code]

You can test it out here: https://codepen.io/jgthms/pen/vYrYzJE

What is weird is that it seems that this library is exactly doing this: https://github.com/0x006F/react-media-recorder/blob/c6c8a3522a6c15bb30fdd23f7016171cb5e787db/src/index.ts#L276

[2022-10-27 15:13] GabrielCartier opened #114 "Unable to playback the recorded video on iOS"
Been struggling using the library with iOS. I am able to record my video correctly but the playback is only showing the first frame of the video.

I have validated that the video is successfully recorded as I send it to a server without any issue, the only problem is the playback.

The issue seems to be with the `blob` URL, specifically, the `url` created is in format `blob://example` and there do

[2022-11-01 02:13] marviobezerra commented on #113
I faced that too. Safari is the only browser (at least that I know) that records using MP4 format, all other browsers (like Chrome) records using WebM format.

My solution was implementing a video converter on the serve for all videos not recorded by safari.

[2022-11-01 08:53] edcast-sumit-joshi opened #115 "How to mute on initial start of recording."
When we start recording we can use muteAudio() hook on the onStart() function to mute the audio,  but it still keeps the audio unmuted for a few milliseconds

[2022-11-04 22:18] jgthms commented on #88
Ok I found a workaround: use a custom MediaStream and use it to stop all audio tracks yourself.

[code]

Hope this helps!

[2022-11-08 23:50] Colhodm commented on #91
Up

[2022-11-12 16:27] ohaqqani commented on #114
I was having a similar issue.  Try including `playsinline muted autoplay` properties on your video element.

[2022-11-15 05:40] Kukunin commented on #85
Can confirm the issue. For me, the right workaround is to pass `askPermissionOnMount: true` option. Another workaround was to have preview with `react-webcam` package: https://www.npmjs.com/package/react-webcam, but it's unnecessary dependency I wish to eliminate

[2022-11-15 05:41] Kukunin commented on #56
same problem for me

[2022-11-15 06:00] Kukunin commented on #56
found, that passing `stopStreamsOnStop: false` option helps

[2022-11-15 08:56] bashtblrkin commented on #105
Hi, me too have this issue. I'm using hooks. The issue happens when I'm navigating between different pages in my application and reload page.

[2022-11-16 01:05] treyholt commented on #105
Same issue here as well. Called in a modal, using hooks (also Next)

[2022-11-16 01:33] treyholt commented on #105
The encoder error goes away for me downgrading to 1.6.5

[2022-11-19 11:27] 0x006F commented on #105
Hey everyone,

I'm sorry, I've been away for a while and couldn't keep up on this. I really appreciate everyone's involvement in this, and of course your patience.

Read through the comments and related issues, and it feels like it's specific to NextJS or am I plain wrong? (or SSR in general).

If anyone has an open PR to solve, this, I'd really appreciate it. It'd take another week or two for me

[2022-11-27 22:43] Faridmurzone commented on #105
The same thing happened to me today. As some comments previously said removing the 'strict mode' can make the error disappear.
The problem occurs because the useEffect on line 84 (https://github.com/0x006F/react-media-recorder/blob/master/src/index.ts#L84) register the wav encoders every time the component is mounted.
On some occasions (it can be with strict mode but also for other reasons such as

[2022-11-29 01:06] tranqhuy46 commented on #112
hi @kalib-code,
still getting this errror in Nextjs
![image](https://user-images.githubusercontent.com/39490493/204413329-1df2d019-ba67-4134-b776-e60f4782800e.png)

[2022-11-29 01:10] kalib-code commented on #112
Same thing